<div class="login-container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
    <h2>Entrar</h2>

    <label>
      Usuário
      <input type="text" formControlName="username" placeholder="username" />
    </label>

    <label>
      Senha
      <input type="password" formControlName="password" placeholder="senha" />
    </label>

    <button type="submit" [disabled]="loading || form.invalid">{{ loading ? 'Entrando...' : 'Entrar' }}</button>

    <p class="error" *ngIf="error">{{ error }}</p>
  </form>
</div>

